* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.5s ease, color 0.5s ease, visibility 0.5s ease, opacity 0.5s ease;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: flex-start;
}

.nav-content {
    display: flex;
    flex-direction: row;
}

.nav-item a {
    display: block;
    color: white;
    background-color: rgb(255, 60, 0);
    text-align: center;
    width: 180px;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    list-style: none;
}

.nav-item a:hover {
    background-color: yellow;
    color: black;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    visibility: none;
    opacity: 0;
    transform: translateY(-200%);
}

.nav-item:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}